#description {
  margin-bottom: 100px;
  position: absolute;
  width: 60%;
}

#wrapper {
  margin-top: 30px;
  margin-bottom: 20px;
}

#reservation {
  float: right;
} 

#Reviews {
  display: block;
}